.Rproj.user
.Rhistory
.RData
.Ruserdata
*.icloud
1_analytical_engine_folder_template/.DS_Store
1_analytical_engine_folder_template/.DS_Store
1_analytical_engine_folder_template/scripts/.DS_Store
scaling_analysis_willamette_yakima/.DS_Store
scaling_analysis_willamette_yakima/results/.DS_Store
scaling_analysis_willamette_yakima/scripts/.DS_Store
scaling_analysis_willamette_yakima/.DS_Store
.DS_Store
